@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

html, body {
  scroll-behavior: smooth; }

.menuOpen {
  overflow: hidden !important; }

.overlay-openmenu {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
  cursor: pointer; }

.recentItem {
  position: fixed;
  right: -535px;
  background: #fff;
  top: 0;
  z-index: 999999;
  width: 535px;
  overflow: auto;
  height: 100%; }

.hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0px !important; }

.hamburger-menu img {
  margin-top: 2px;
  margin-bottom: 2px; }

.close-icon {
  right: 10px;
  float: right; }

.nav-content {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-bottom: 1px solid #F1F1F1; }

.menu-toplinks {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
  margin-right: 40px; }

.lines {
  margin-left: auto;
  margin-right: auto; }

.logo {
  width: 158px;
  height: 43px; }

.logo-responsive {
  display: none; }

#recentItem {
  width: 40px;
  height: 40px; }

.link-style {
  background-color: transparent;
  border: 2px solid #1D1C20;
  z-index: 1; }

.link-style:hover {
  border: 2px solid #2da1c5; }

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center; }

.start.link-style {
  margin-right: 15px;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: 500; }

.start a {
  text-decoration: none;
  color: #1D1C20; }

.start:hover {
  border-color: #2da1c5;
  color: #2da1c5; }

.under-menu p {
  font-size: 16px;
  color: #39383A; }

#closX {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }

.project {
  margin-right: 15px; }

.menu-items {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  padding-left: 90px; }

.menu-items a {
  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 45px;
  text-decoration: none;
  color: #1D1C20;
  border-bottom: 3px solid transparent; }

.menu-items a:hover {
  color: #1D1C20;
  width: fit-content; }

.menu-links {
  position: relative;
  width: fit-content; }

.menu-links::before {
  content: '';
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #2da1c5;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1); }

@media (hover: hover) and (pointer: fine) {
  .menu-links:hover::before {
    left: 0;
    right: auto;
    width: 100%; } }

.line-port {
  width: 168px;
  height: 1px;
  border-bottom: 1px solid #d7d7d7;
  margin-top: 40px; }

.social-icons a:hover {
  border-bottom: none; }

.social-icons img {
  margin-right: 20px; }

.copyright {
  margin-top: 70px; }

.copy-conn {
  display: flex;
  flex-direction: column; }

.find-us p {
  margin-top: 12px; }

@supports (-webkit-touch-callout: none) {
  .hamburger-menu {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    position: absolute !important;
    margin-top: -11px !important;
    margin-left: -8px !important; } }

@media only screen and (max-width: 768px) {
  .copy-conn {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 40px; }
  .menu-items {
    padding-left: 50px;
    margin-top: 97px; }
  .copyright {
    margin-top: 44px; } }

@media only screen and (max-width: 480px) {
  .logo {
    display: none; }
  .logo-responsive {
    width: 47px;
    height: 44px;
    display: block; }
  .nav-content {
    padding: 20px 20px; }
  .menu-toplinks {
    margin-top: 20px;
    margin-right: 20px; }
  .menu-items {
    margin-top: 52px;
    padding-left: 20px; }
  .menu-items a {
    font-size: 24px;
    margin-bottom: 30px; }
  .copy-conn {
    flex-direction: column; }
  .copyright {
    margin-top: 40px; } }

@media only screen and (max-height: 888px) {
  .menu-items {
    margin-top: 0px;
    display: flex;
    justify-content: center; }
    .menu-items a {
      margin-bottom: 35px;
      font-size: 30px;
      line-height: 25px; } }

@media only screen and (min-height: 600px) and (max-height: 888px) {
  .menu-items {
    height: 82%; } }

.recentItem::-webkit-scrollbar {
  width: 0;
  background: transparent; }

.nav-content {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9) !important;
  backdrop-filter: blur(10px);
  z-index: 2;
  transition: .05s;
  left: 0; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translatex(60px);
    -moz-transform: translatex(60px);
    -o-transform: translatex(60px);
    transform: translatex(60px); }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0); } }

.open-menu {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .8s;
  -moz-animation-duration: .8s;
  -o-animation-duration: .8s;
  animation-duration: .8s;
  animation-delay: .3s; }

.open-menu:nth-child(2) {
  animation-delay: .4s; }

.open-menu:nth-child(3) {
  animation-delay: .5s; }

.open-menu:nth-child(4) {
  animation-delay: .6s; }

.open-menu:nth-child(5) {
  animation-delay: .7s; }

@keyframes fadeUnderMenu {
  from {
    opacity: 0;
    -webkit-transform: translatex(60px);
    -moz-transform: translatex(60px);
    -o-transform: translatex(60px);
    transform: translatex(60px); }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0); } }

.under-menu.open-menu {
  -webkit-animation-name: fadeUnderMenu;
  -moz-animation-name: fadeUnderMenu;
  -o-animation-name: fadeUnderMenu;
  animation-name: fadeUnderMenu;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .8s;
  -moz-animation-duration: .8s;
  -o-animation-duration: .8s;
  animation-duration: .8s;
  animation-delay: 1s; }

@-moz-document url-prefix() {
  .menu-items a {
    width: -moz-fit-content; }
  .rtbp {
    display: flex;
    justify-content: center; } }

@supports (-webkit-touch-callout: none) {
  .ios-class-menu {
    top: 0px !important;
    border: 2px solid red; } }

@media only screen and (max-width: 768px) {
  .nav-content, .menu-toplinks {
    padding: 30px 15px;
    margin: 0;
    justify-content: space-between; } }

.top-nav {
  backdrop-filter: none !important;
  background-color: transparent !important;
  border-bottom: none; }

.openMenu-logo {
  display: none; }

@media only screen and (max-width: 768px) {
  .openMenu-logo {
    display: block;
    padding-left: 30px; } }

@media only screen and (max-width: 480px) {
  .openMenu-logo {
    padding-left: 0px; } }

.lwt {
  height: 350px;
  max-width: 100%;
  background: #1B1C1F;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.lwt .right-image {
  transform: scaleX(-1); }

.slide-images {
  width: 340px; }

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #2da1c5;
  color: #FDFDFD;
  font-size: 14px;
  width: 209px;
  height: 50px;
  text-align: center;
  border: none; }

.footer-background {
  position: absolute;
  width: 100%;
  background-color: #f4fcff;
  padding-bottom: 60px; }

footer {
  margin-top: -100px; }

footer .informations p a {
  text-decoration: none;
  color: #39383A; }

.footer-info {
  margin-top: 100px !important; }

.footer-info h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #1B1C1F; }

.footer-info .informations p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #39383A;
  width: 253px; }

.fourth .email {
  color: #2da1c5;
  text-decoration: underline;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-top: 20px; }

.fourth .email:hover {
  color: #2da1c5;
  text-decoration: underline; }

.footer-navigations {
  display: flex;
  justify-content: space-between;
  padding-top: 175px; }

.footer-navigations .icons img {
  margin-right: 22px; }

.icons a {
  text-decoration: none; }

.footer-navigations .pages a {
  font-size: 14px;
  line-height: 21px;
  color: #39383A;
  margin-left: 23px;
  margin-right: 23px;
  text-decoration: none; }

.copyright-footer p {
  font-size: 14px;
  line-height: 21px;
  color: #39383A; }

.scroll-top {
  transform: rotate(-90deg);
  min-width: 100px;
  height: 40px;
  position: absolute;
  right: 0px;
  margin: -88px -16px -20px -30px; }

.scroll-top button {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid #DEDEDE;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center; }

.scroll-top .arrow {
  transform: rotate(90deg);
  padding: 10px 5px; }

.move-top {
  padding-left: 10px; }

.footer-links {
  position: relative;
  width: fit-content; }

.footer-links::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074D9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1); }

@media (hover: hover) and (pointer: fine) {
  .footer-links:hover::before {
    left: 0;
    right: auto;
    width: 100%; } }

@media only screen and (max-width: 1199px) {
  .slide-images {
    width: 250px; } }

@media only screen and (max-width: 991px) {
  .slide-images {
    width: 232px; }
  .text-content h1 {
    width: auto !important; }
  .footer-navigations .pages a {
    margin-left: 10px;
    margin-right: 10px; }
  .footer-navigations {
    padding-top: 50px; } }

@media only screen and (max-width: 840px) {
  .slide-images {
    width: 200px; }
  .text-content h1 {
    line-height: 45px !important; } }

@media only screen and (max-width: 810px) {
  .scroll-top {
    display: none; } }

@media only screen and (max-width: 767px) {
  .slide-images {
    display: none; }
  .text-content h1 {
    width: auto !important; }
  .footer-navigations {
    flex-direction: column;
    padding-top: 35px; }
  .icons, .pages, .copyright-footer {
    padding-bottom: 30px; }
  .pages {
    display: flex;
    flex-direction: column; }
  .pages a {
    margin-left: 0px !important;
    margin-right: 22px !important;
    padding-bottom: 15px; }
  .lwt {
    padding: 10px; } }

@media only screen and (max-width: 575px) {
  .first, .second, .third {
    width: 253px !important; }
  .fourth h3 {
    width: 274px; }
  .footer-background {
    padding-bottom: 0px; }
  .containers.lwt-section {
    width: 100%; } }

@media only screen and (max-width: 500px) {
  .text-content h1 {
    font-size: 24px !important; } }

@media only screen and (min-width: 1024px) {
  .quote {
    margin-top: 30px; } }

.text-content h1 {
  font-size: 45px;
  color: #FDFDFD;
  font-weight: 700;
  line-height: 67px;
  text-align: center; }

.text-content p {
  color: #999999;
  text-align: center; }

.containers {
  max-width: 1200px;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.lwt {
  height: 323px; }

.nav-content {
  background-color: transparent !important;
  border-bottom: 1px solid #262A33; }

.logo-text {
  fill: #fff; }

.start {
  border-color: #fff;
  color: #fff; }

#recentItem {
  border-color: #fff; }

.about-content {
  margin-bottom: 130px;
  background: #1B1C1F; }

.about-text h1 {
  font-weight: 600;
  font-size: 45px;
  line-height: 58px;
  width: 874px;
  margin-bottom: 80px;
  color: #DFDFDF; }

.about-text p {
  color: #2DA1C5;
  padding-top: 212px;
  font-size: 16px;
  font-weight: bold; }

.about-text span {
  color: #2DA1C5; }

.about-logo {
  width: 204px;
  height: 204px;
  position: absolute;
  margin-top: -104px;
  right: 200px; }

.about-logo svg {
  animation-name: logoRotate;
  animation-duration: 1s;
  animation-timing-function: linear; }

@keyframes logoRotate {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

.about-background {
  width: 100%; }

.our-vision {
  margin-bottom: 120px; }

.our-vision img {
  width: 166px;
  height: 166px; }

.our-vision {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.second-elipse {
  position: absolute;
  margin-left: -25px; }

.our-mision-logo {
  max-width: 366px;
  height: 197.36px;
  margin-left: 130px; }

.our-mision {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.our-mision p {
  font-size: 18px;
  line-height: 32px;
  margin-right: 64px;
  width: 522px; }

.our-mision-logo h1, .our-vision h1 {
  color: #1D1C20;
  font-weight: bold; }

.our-mision img {
  margin-top: 44px; }

.background-color {
  background-color: #f4fcff;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-bottom: 130px; }

.container {
  max-width: 1200px !important; }

.work-photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px; }

.work-photos img {
  width: 100%; }

.work-photos {
  margin-bottom: 120px; }

.work-photo2 img {
  margin-top: 90px; }

.third-column p {
  font-size: 18px; }

.owl-carousel-3 .owl3-borders {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 20px;
  width: 270px;
  height: 340px; }

.owl-carousel-3 .item {
  width: 250px;
  height: 320px;
  margin-left: -10px;
  margin-top: -10px;
  padding: 30px 25px 25px 30px; }

.owl-carousel-3 .owl-item, .owl-carousel-3 .owl-item.active {
  width: 250px !important; }

.owl-carousel-3 .owl-item {
  margin-right: 60px; }

.owl-carousel-3 .first {
  background-color: #023047;
  color: #fff; }

.owl-carousel-3 .second {
  background-color: #1c77a9;
  color: #fff; }

.owl-carousel-3 .third {
  background-color: #073B4C;
  color: #fff; }

.owl-carousel-3 .fourth {
  background-color: #669BBC;
  color: #fff; }

.owl3-borders .item {
  position: relative;
  min-height: 150px; }

.owl3-borders h2 {
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 0px; }

.owl3-borders h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  margin-top: 0px; }

.owl3-borders .item p {
  position: absolute;
  bottom: 24px;
  left: 30px;
  font-size: 12px;
  width: 197px; }

.owl-nav {
  float: right;
  margin-right: 40px; }

.owl-nav .left-arrow {
  transform: rotate(180deg);
  margin-left: -13px; }

.owl-next::before {
  content: url(../assets/images/arrow-divider.svg);
  margin-top: 2px;
  position: inherit;
  margin-left: -20px; }

.owl-prev, .owl-next {
  margin-top: -50px !important; }

.owl-prev,
.owl-next {
  position: absolute;
  top: 0%;
  transform: translateY(-100%); }

.owl-prev {
  margin-left: -50px; }

.owl-next {
  margin-right: 20px; }

.disabled path {
  fill: #B7B3B2; }

.footer-background {
  margin-top: 130px; }

.tools-section h1 {
  color: #1B1C1F;
  font-size: 45px;
  max-width: 467px;
  font-weight: bold;
  margin-bottom: 40px; }

.tools-section {
  padding-bottom: 130px; }

.tools-content {
  height: 227px; }

.tools-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EFEFEF; }

.tools-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px; }

.tools-image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center; }

.tools-content h5 {
  margin-top: 15px; }

.tools-image-text img {
  width: fit-content;
  height: fit-content; }

.background-image {
  opacity: 0.04;
  position: absolute;
  width: 30%;
  height: 131px;
  display: flex; }

.certified-care {
  margin-bottom: 130px; }

.certified-care h1 {
  font-weight: bold;
  font-size: 45px;
  color: #1B1C1F;
  margin-bottom: 60px; }

@media only screen and (max-width: 1200px) {
  .our-vision {
    grid-template-columns: 1fr;
    padding-left: 50px; }
  .our-mision {
    grid-template-columns: 1fr;
    padding-left: 50px; }
  .our-mision-text {
    order: 1; }
  .our-mision-logo {
    height: auto;
    margin-left: 0px; }
  .our-mision-text p {
    width: 100%; }
  .first-column h1 {
    margin-bottom: 50px; }
  .second-column {
    margin-bottom: 50px; }
  .our-mision-logo img {
    margin-bottom: 50px; } }

@media only screen and (min-width: 1200px) {
  .our-mision-logo h1 {
    text-align: center; } }

@media screen and (max-width: 991px) {
  .about-text h1 {
    width: 100%; }
  .about-text p {
    padding-top: 202px; }
  .about-logo {
    right: 70px; }
  .about-logo svg {
    width: 150px;
    height: 204px;
    position: absolute; }
  .tools-section {
    padding-bottom: 90px; } }

@media screen and (max-width: 768px) {
  .about-background {
    object-fit: cover;
    height: 420px; } }

@media screen and (max-width: 700px) {
  .tools-posts {
    grid-template-columns: 1fr; }
  .background-image {
    width: 70%; } }

@media screen and (max-width: 575px) {
  .our-vision h1, .our-mision-logo h1 {
    font-size: 24px; }
  .background-color {
    margin-bottom: 33px;
    padding-top: 50px; }
  .our-mision, .our-vision {
    padding-left: 0px; }
  .our-vision {
    margin-bottom: 60px; }
  .about-content {
    margin-bottom: 50px; }
  .about-text h1 {
    font-size: 24px;
    line-height: 34px; }
  .about-text p {
    padding-top: 130px; }
  .about-background {
    height: 245px; }
  .work-photos {
    grid-template-columns: 1fr;
    grid-gap: 0px;
    margin-bottom: 60px; }
  .work-photo2 img {
    margin-top: 20px; }
  .certified-care h1 {
    font-size: 24px;
    margin-bottom: 30px; }
  .certified-care {
    margin-bottom: 60px; }
  .tools-section h1 {
    font-size: 24px; }
  .about-logo {
    right: 20px;
    margin-top: -44px; }
  .about-logo svg {
    width: 86px;
    height: fit-content;
    right: 0; }
  .tools-section {
    padding-bottom: 60px; } }

@media screen and (max-width: 390px) {
  .our-mision-logo img {
    width: 100%; } }
