$primary-one: #2da1c5;
$primary-two: #1c77a9;
$primary-three: #f4fcff;

$secondary-one: #1D1C20;
$secondary-two: #39383A;
$secondary-three: #B7B3B2;
$secondary-four: #E5E9ED;
$secondary-fife:  #F6F6F6;
$secondary-six:  #FDFDFD;