@import "navbar";
@import "footer";

.single-services .center{
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
}

@media only screen and (min-width: 1200px) {
    .single-services .center {
        max-width: 1200px;
    }
}

.vertical-line{
    position: absolute;
    margin-left: 104px;
    top: 0px;
    z-index: -1;
    width: 10px;
    object-fit: cover;
}

.post-image{
    width: 220px;
    height: 200px;
}

.content{
    margin-top: 274px !important; 
}

.first-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // height: 300px;
    padding-bottom: 70px;
}

@media only screen and (min-width:1205px) {
    .first-content{
        height: 300px !important;
    }
}

.second-content p:first-child{
    margin-top: 30px;
}

.content-description{
    width: 741px !important;
}

.content-description h1{
    font-weight: bold;
    font-size: 50px;
    line-height: 62px;
    color: #1B1C1F;
}

.content-description h6{
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #1B1C1F;
}

.background-color{
    width: 100%;
    height: 578px;
    position: absolute;
    background-color: $primary-three;
    top: 0px;
    z-index: -1;
}

.fullsize-image{
    height: 427px;
    width: 100%;
    background-color:  #F4FCFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-background{
    margin-top: 120px;
}

.second-content h4{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #1B1C1F;
} 

.second-content h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #1B1C1F;
}


.second-content p{
    font-size: 16px;
    line-height: 26px;
    color: $secondary-two;
}

.body-content{
    margin-top: 15px;
    margin-bottom: 10px;
}

.number{
    border: 3px solid #239EBE;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    width: 55px;
    height: 55px;
}

.list-description ul li::marker {
    font-size: 20px;
}

.list-description-section{
    margin-bottom: 40px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(/assets/images/minus.svg) !important;
    transform: rotate(0deg) !important;
    position: absolute;
    // margin-top: 18px;
    right: 20px;
    background-size: 14px 14px !important;

}

.accordion-button::after{
    background-image: url(/assets/images/plus.svg) !important;
    background-size: 14px 14px !important;
}

.accordion-button, .accordion-header, .accordion-item, .accordion{
    border: none !important;
}

.accordion-button:not(.collapsed) {
    color: $secondary-two !important;
    background-color: $secondary-five !important;
    box-shadow: none !important;
}

button.accordion-button.collapsed{
    background-color: $secondary-five !important;
    margin-bottom: 10px;
}

button.accordion-button.collapsed:focus{
    box-shadow: none !important;
}

.accordion-button{
    height: 50px;
}

.accordion-body p{
    margin-top: 0px !important;
}

.accordion-button p{
    margin-top: 13px !important;
}



.milestone{
    margin-left: 10px;
    margin-right: 10px;
}

.milestones-section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.milestones-section p{
    font-weight: 700;
}

.milestone-number{
    text-align: center;
    margin-top: 17px !important;
}

.milestone-text-content{
    width: 60px;
    height: 60px;
    background: $primary-three;
    border-radius: 100%;
    border:1px solid $secondary-two;
}

.milestone-image img{
    width: 100%;
    height: 2px;
    margin-top: 30px;
    object-fit: cover;
}

.first-part{
    display: flex;
}
.other-part{
    display: flex;
    margin-top: 58px;
}




@media only screen and (max-width:1204px){
    .vertical-line{
        display: none;
    }
    .content{
        margin-top: 220px !important;
    }
    .background-color{
        height: 602px;
    }
    .post-image{
        width: 200px;
        height: 180px;
    }
    .second-content p:first-child {
        margin-top: -20px;
    }
}

@media only screen and (max-width: 800px){
    .milestone-line img{
        width: 16%;
    }
}

@media only screen and (max-width: 560px){
    .first-content h1{
        font-size: 24px;
        line-height: 34px;
    }
    .first-content p, .first-content h6 .second-content p{
        font-size: 16px;
        line-height: 28px;
    }
    .fullsize-image img{
        width: 183px;
        height: 124px;
    }
    .fullsize-image{
        width: 100%;
        height: 191.33px;
    }
    .post-image{
        width: 150px;
        height: 135px;
        margin-bottom: 25px;
    }
    .content {
        margin-top: 130px !important;
    }
    .milestone-image{
        display: none;
    }
    .milestone-text{
        margin-top: 26px;
        white-space: nowrap;
    }
    .first-part, .other-part{
        display: inline-grid;
        width: 100%;
    }
    .other-part{
        margin-top: 0px;
    }
    .milestone{
        margin-bottom: 48px;
    }
    
}


@media only screen and (max-width: 395px){
    .content-description{
        margin-top: 40px !important;
    }
    .content{
        margin-top: 65px !important;
    }
}