@import "navbar";
@import "footer";

.sections{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -103px;
}

.start-content h1{
    font-weight: bold;
    font-size: 45px;
    line-height: 57px;
    color:$secondary-one;
}

.left-section .labels{
    font-size: 12px;
}

.labels{
    color: $secondary-one;
    opacity: 0.5;
}

.left-section{
    width: 50%;
    background-color: $primary-three;
    padding-bottom: 130px;
    // z-index: -1;
    padding-top: 112px;
}

.left-content{
    padding-bottom: 160px;
}

.left-content h1 span{
    color: $primary-one;
}

.right-section{
    width: 50%;
    background-color: $secondary-six;
}

.right-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 260px;
}

.right-content .inputs ::-webkit-input-placeholder{
    color: $secondary-two;
    font-size: 16px;
}

.right-content .inputs ::-moz-placeholder{
    color: $secondary-two;
    font-size: 16px;
}

.right-content .inputs :-ms-input-placeholder{
    color: $secondary-two;
    font-size: 16px;
}

.right-content .inputs ::placeholder{
    color: $secondary-two;
    font-size: 16px;
}

.right-content .inputs input[type="file"]{
    display: none;
}

.right-content .inputs label{
    margin-bottom: 10px;
}

.inputs{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.send-message{
    height: 50px;
    background-color: $primary-one;
    border: none;
    color: white;
    font-weight: 500;
}

.left-content{
    width: 100%;
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 160px;
}

.right-section input, .right-section textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $secondary-three;
    outline: none;
    margin-bottom: 40px;
    padding-bottom: 5px;
    background: transparent;
}

.left-content h4{
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: $secondary-one;
}

.left-content h4 span{
    color: $primary-one;
}

.project-form input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $secondary-three;
    background: transparent;
    width: 100%;
    margin-top: 45px;
    outline: none;
    padding-bottom: 8px;
}

.project-form input::-webkit-input-placeholder{
    color: $secondary-two;
    font-size: 16px;
}

.project-form input::-moz-placeholder{
    color: $secondary-two;
    font-size: 16px;
}

.project-form input:-ms-input-placeholder{
    color: $secondary-two;
    font-size: 16px;
}

.project-form input::placeholder{
    color: $secondary-two;
    font-size: 16px;
}

#file {
    display:none;
}

a#file-link {
    margin-bottom: 10px;
}

.files{
    border: 2px solid #B7B3B2;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 2px;
    height: 30px;
    margin-bottom: 10px;
    display:none;
}


@media only screen and (max-width:1024px){
    .left-section,.right-section{
        width: 100%;
    }
    .sections{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .left-section{
        padding-bottom: 0px;
    }
    .left-content{
        width: 80%;
    }
    .start-content h1{
        font-size: 36px;
        margin-bottom: 30px;
    }
    .right-section{
        // padding-bottom: 135px;
    }
    .left-content, .right-content{
        // margin-top: 30px;
        margin-bottom: 30px;
    }
    .right-content{
        padding-top: 40px;
    }
    .left-content{
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }
}

@media only screen and (min-width:575px) and (max-width:1024px){
    .project-form {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
    }
}




@media only screen and (max-width: 768px){
    .right-content {
        max-width: 80% !important;
    }
    .left-content{
        padding-bottom: 40px !important;
    }
}

@media only screen and (max-width:570px){
    .left-section{
        padding-bottom: 40px;
    }
    .left-content{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .start-content h1{
        margin-bottom: 20px;
        font-size: 24px;
    }
    .right-content{
        padding-top: 40px;
    }
    .left-content h1{
        line-height: 34px;
    }
    .project-form input{
        margin-top: 40px;
    }
    .sections {
        margin-top: 0px;
    }
}