<div class="footer-background">
    <footer>
        <div class="containers">
            <div class="lwt">
                <img src="assets/images/work-section-icon.svg" class="slide-images">

                <div class="text-content">
                    <h1>Lets work together</h1>
                    <p>Looking for a long term digital partner to help you
                        realise your digital goals?</p>
                    <button class="quote" onclick="location.href='/contact.html'" >Get a quote</button>
                </div>

                <img src="assets/images/work-section-icon.svg" class="right-image slide-images">
            </div>

            <div class="row footer-info">
                <div class="col-xs-12 col-sm-6 col-lg-3 first informations">
                    <h3>ASTech Albania</h3>
                    <p>Rruga ”Abdyl Frasheri” EGT Tower 101, Tirane - Albania</p>
                    <p>info@astech.al</p>
                    <p>+355 123 456 789</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 second informations">
                    <h3>ASTech Kosovo</h3>
                    <p>Rruga ”Abdyl Frasheri” EGT Tower 101, Tirane - Albania</p>
                    <p>info@astech.al</p>
                    <p>+355 123 456 789</p>
                </div>
                <div class="col-xs-0 col-sm-0 col-lg-2 third">

                </div>
                <div class="col-xs-12 col-sm-12 col-lg-4 fourth">
                    <h3>Drop us a line or two, we are open for partnership and good collaboration.</h3>
                    <a href="" class="email">info@astech.al</a>
                </div>

            </div>

            <div class="footer-navigations">
                <div class="icons">
                    <a href="https://www.facebook.com/AdvancedSystemsandTechnologies">
                        <img src="assets/images/facebook.svg">
                    </a>
                    <img src="assets/images/linkedin.svg">
                    <img src="assets/images/twitter.svg">
                    <img src="assets/images/instagram.svg">
                </div>

                <div class="pages">
                    <a href="./index.html" class="footer-links">Home</a>
                    <a href="./about.html" class="footer-links">About</a>
                    <a href="./services.html" class="footer-links">Services</a>
                    <a href="./contact.html" class="footer-links">Contact</a>
                </div>

                <div class="copyright-footer">
                    <p>© 2019-2021, Astech.</p>
                </div>
            </div>

            <div class="scroll-top">
                <button class="move-top"> TO TOP <img src="assets/images/arrow.svg" class="arrow"></button>
            </div>

        </div>

    </footer>
</div>


<script>
    $('.move-top').on("click", function () {
        $(window).scrollTop(0);
    });

</script>